* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "Inter";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 1028px;
  height: 562px;
  background-color: #454545;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 540px;
  height: 169px;
  background-color: #FFFEF8;
  margin: 244px 196.5px;
  border-radius: 14.6957px;
}
.wrapper .img {
  background-image: url(./img/left_part.png);
  width: 169px;
  height: 169px;
  border-radius: 14.6957px 0px 0px 14.6957px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.wrapper .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 169px;
  width: 371px;
  padding-left: 32.5px;
}
.wrapper .center .artist {
  width: 149px;
  height: 22px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  padding-top: 17.8px;
}
.wrapper .center .waves {
  background-image: url(./img/spotifyBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20.61px;
  height: 20.61px;
  margin-left: 135px;
}
.wrapper .center .songTitle {
  width: 72px;
  height: 17px;
  padding-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #454545;
}
.wrapper .center .trackLine {
  width: 257px;
  height: 3px;
  margin-top: 25.3px;
  padding-top: 0.23px;
  background: #DADADA;
}
.wrapper .center .barControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16.77px;
  margin-bottom: 24.5px;
}
.wrapper .center .barControl .repeatBtn {
  background-image: url(./img/repeat.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  padding-right: 54px;
}
.wrapper .center .barControl .prevBtn {
  background-image: url(./img/LeftBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 35.51px;
  height: 34.29px;
  padding-right: 20px;
}
.wrapper .center .barControl .playBtn {
  background-image: url(./img/playBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 35.51px;
  height: 34.29px;
  padding-right: 20px;
}
.wrapper .center .barControl .nextBtn {
  background-image: url(./img/nextBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 35.51px;
  height: 34.29px;
  padding-right: 20px;
  padding-right: 58px;
}
.wrapper .center .barControl .like {
  background-image: url(./img/like.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  right: 0px;
  top: 27.23px;
}